classes/classes2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Mon Mar 13 2017 14:53:03 GMT-0500 (Central Daylight Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="classes">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="class" maxOccurs="unbounded">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="name" type="xs:string"></xs:element>
                                                 <xs:element name="teacher" type="xs:string"></xs:element>
                                                 <xs:element name="room" maxOccurs="unbounded" type="xs:int"></xs:element>
                                                 <xs:element name="date" maxOccurs="unbounded" type="xs:string">
                                                        <xs:complexType>
                                                               <xs:attribute name="type" type="xs:string"></xs:attribute>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>