xsd/rss-russian-doll.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rss">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="channel">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:anyURI" name="link"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="language"/>
              <xs:element type="xs:string" name="copyright"/>
              <xs:element type="xs:string" name="category"/>
 <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
<xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:anyURI" name="link"/>
<xs:element type="xs:string" name="description"/>
                    <xs:element name="enclosure" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="url" use="optional"/>
                            <xs:attribute type="xs:byte" name="length" use="optional"/><xs:attribute type="xs:string" name="type" use="optional"/>
                            <xs:attribute type="xs:string" name="caption" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="pubDate"/>
                    <xs:element name="guid">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:int">
                            <xs:attribute type="xs:string" name="isPermaLink" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>