xsd/rss-venetian-blind.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rss" type="rssType"/>
  <xs:complexType name="enclosureType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="url" use="optional"/>
        <xs:attribute type="xs:byte" name="length" use="optional"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="caption" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="guidType">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attribute type="xs:string" name="isPermaLink" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:anyURI" name="link"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="enclosureType" name="enclosure" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="pubDate"/>
      <xs:element type="guidType" name="guid"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="channelType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:anyURI" name="link"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="language"/>
      <xs:element type="xs:string" name="copyright"/>
      <xs:element type="xs:string" name="category"/>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rssType">
    <xs:sequence>
      <xs:element type="channelType" name="channel"/>
    </xs:sequence>
    <xs:attribute type="xs:float" name="version"/>
  </xs:complexType>
</xs:schema>